/* table of  content
1.forms
*/

/* form */

.form {
  box-sizing: border-box;
  padding: 160px 16px 16px 16px;
  height: 60vh;
}

input[type="text"],
input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.form .check {
  margin-bottom: 20px;
  line-height: 2rem;
}
.pledgebtn {
  background-color: #73b925;
  color: white;
  padding: 16px 20px;
  font-size: 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  opacity: 0.9;
}

.pledgebtn:hover {
  opacity: 1;
}
